[submodule "hardfloat"]
	path = hardfloat
	url = ../berkeley-hardfloat.git
[submodule "torture"]
	path = torture
	url = ../riscv-torture.git
[submodule "api-config-chipsalliance"]
	path = api-config-chipsalliance
	url = ../api-config-chipsalliance.git
